{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Register</h2>
    <div class="row">
        <div class="col-md-4">
            <form  method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.password2) }}
                {{ wtf.form_field(form.is_admin) }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
        <br>
    </div>
    <div class="container">
        <h2>Users</h2>
        <table class="table">
            <tr>
                <th>#</th>
                <th>User</th> 
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                {% if current_user.id!=user.id %}
                <td>
                    <a href={{ url_for('delete_user', user_id=user.id) }} type="button" class="btn btn-danger btn-sm"> Delete</a>
                </td>
                {% else %}
                <td>It's you!</td>
                {% endif %}
            </tr>
            {% endfor %}
            
        </table>
    </div>
{% endblock %}