<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>File Hosting</title>
        {% endif %}
    </head>
    <body>
        <div>
            File Hosting:
            <a href="{{ url_for('upload') }}">Upload</a>
            <a href="{{ url_for('user_files') }}">Files</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>